/* Global style rules */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size:18px;
    font-family: 'PT Sans Narrow', Arial, Tahoma, sans-serif;
}

section {
    padding: 3em, 6em;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
}

h1 {
    font-family: 'Anton', Tahoma, sans-serif;
    margin-bottom: 0;
    font-size: 3.5em;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    margin-top: 1em;
}

h3 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-top: 1em;
}

a {
    color: #ffffff;
}

a:hover {
    color: #aaaaaa;
}

.btn {
    background-color: red;
    color: #ffffff;
    border: 3px solid black;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    padding: .5em;
    border-radius: 25px;
}

.btn:hover {
    background-color: darkred;
}


/* Header and Nav Style Rules */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #232323;
    padding: .5em;
}

header img {
    width: 350px;
    color: #ffffff;
}

nav li{
    display: inline;
    text-align: right;
    padding: .5em;
}

nav li a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    font-size: 1.5em; /* Written instructions don't say this, but video does */
}


/* Hero section styles */
.hero {
    background-image: url('../images/bike_hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em;
    height: 40vh;
}

.hero h1 {
    color: #000000;
}


/* how it works section */
.flexhow {
    flex-basis: 33%;
}

.how img {
    display: block;
    margin: auto;
    width: 65%;
}

.how p {
    margin-left: .7em;
    margin-right: .7em;
    font-size: 1.25em;
}

.how {
    margin-top: 0em;
    padding-top: 0.5em;
}


/* who we are section */
.who {
    background-color: #adc5e4;
    font-size: 1em;
    padding-top: 0.25em;
}

.who .flex-container {
    align-items: flex-start;
}

.flexwhoright {
    flex-basis: 48%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
}

.flexwholeft {
    flex-basis: 48%;
}

.who img {
    border: 6px solid #dd0000;
}

.who li {
    list-style-type: none;
}

.who i {
    color: #dd0000;
    font-size: 1em;
    padding-right: 1em;
}


/* testimonial section */
.test .flex-container {
    align-items: stretch;
}

.flextest {
    flex-basis: 48%;
    margin: auto;
    font-size: 1em;
}

.flextest i {
    color: #dd0000;
    float: left;
    font-size: 4.5em;
    margin-right: 25px;
}

.ltbold {
    font-weight: bold;
    color: #282828;
}


/* ready to sell section */
.ready {
    background-color: #adc5e4;
    text-align: center;
    padding: 2em;
}


/* brand logos section */
.brands {
    background-color: #ffffff;
}

.brands img {
    display: inline;
    width: 10%;
    margin: auto;
}


/* footer styles */
footer {
    background-color: #232323;
    color: #ffffff;
    text-align: center;
    padding: .5em 0em;
    font-size: .8em;
}

footer li {
    display: inline;
}

footer i {
    color: #dd0000;
    font-size: 3em;
    padding-left: 0em;
    padding-right: .5em;
}

footer a i:hover {
    color: #aa0000;
}


/* mobile styles */
@media only screen and (max-width: 767px){
    body {
        font-size: 1em;
    }

    section {
        padding: 1em;
    }

    .flex-container {
        flex-direction: column;
    }

    header {
        flex-direction: column;
    }

    header img {
        margin: auto;
    }

    .brands {
        display: none;
    }

    nav {
        width: 100%;
    }

    nav img {
        margin: auto;
    }

    nav ul {
        padding: 0;
        margin: 0;
    }

    nav li {
        display: block;
        text-align: center;
        border-bottom: 1px solid white;
        padding: 1em;
        font-size: 1.1em;
    }

    .hero {
        background-image: url(../images/bike_hero_mobile.jpg);
        text-align: center;
        padding: 1em 6.5em;
        height: 130vh;
    }

    .hero h1 {
        font-size: 4em;
    }

    .hero a {
        font-size: 1.5em;
        font-weight: bold;
    }

    .how p {
        font-size: 2em;
    }

    .how img {
        width: 40%;
    }

    h2 {
        font-size: 4.5em;
        font-weight: bolder;
    }

    .who {
        padding-left: 1.5em;
        padding-right: 1.5em;
        padding-top: 0em;
    }

    /*
    .who h2 {

    }
    */

    .who p,li{
        font-size: 1.5em;
    }

    .test {
        padding: 2em;
    }

    .flextest {
        font-size: 1.5em;
    }

    .ready h3 {
        font-size: 2.5em;
        padding: 0 3em 0 3em;
    }

    footer p {
        font-size: 2em;
        padding: 0em 5em;
    }

    footer h2 {
        font-size: 5em;
        padding: 0 3em;
    }
    
    .flexbike {
        width: 100%;
    }
}


/* styles for inventory */
.bike{
    border-bottom: 4px dotted #dd0000;
    padding: 1.5em 2em;
}

.bike .flex-container {
    align-items: flex;
}

.flexbike {
    flex-basis: 50%;
}

.bike table {
    border-collapse: collapse;
    margin: auto;
}

.bike td,th {
    border: 1px solid black;
}

.bike table th {
    text-align: left;
}

.bike img {
    width: 100%;
}

/* styles for contact.html */
.contact {
    width: 45%;
    margin: auto;
    margin-bottom: 1em;
}

.contactform {
    margin: 3em auto;
    background-color: #e9e9e9;
    /* border: 1px solid black;   written instructions say to add this! */
    padding-right: 2em;
}

.contactform h3 {
    text-align: left;
    padding-top: -.7em;
    padding-left: 1em;
    color: #aa0000;
}

form {
    padding: 0em 2em 2em 2em;
}

form input{
    height: 1.5em; /* 3em written */
    padding-left: 1em;
    padding-right: 1em;
    margin: .5em 0em;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}